html {
    position: relative;
    min-height: 100%;
  }
  
  body {
      background-color:#0a29da;
      
        margin-bottom: 60px;
  }
  
  #wrap {
      background-color:#d80e0e;
      color:#646464;
  }
  
  #header {
      background-color:rgb(201, 8, 8);
      height:70px;
  }
  
  #title {
      color:#fff;
      text-align:center;
      padding-top:16px;
  }
  
  #buttonArea{
      margin-top:10px;
  }
  
  .btn {
      margin:3px;
  }
  
  #gifArea {
      margin-top:20px;
  }
  
  
  .submit {
      background-color: #d10404;
      color:white;
      border:1px solid #646464;
  }
 
 
  .clear {
      clear:both;
  }